<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.axescode.mybatis.mapper.PlayerMapper">
    <insert id="insert">
        INSERT INTO tbl_player
        (player_name)
        VALUES(#{playerName})
    </insert>

    <insert id="fastInsert">
        INSERT INTO tbl_player
        (player_name)
        VALUES(#{playerName})
    </insert>

    <select id="select" resultType="playerVO">
        SELECT player_id, player_name, player_nick_name, player_job_type, player_proficiency_stack, player_proficiency_level, player_money
        FROM tbl_player
        where player_id = #{playerId}
    </select>

    <select id="selectByName" resultType="playerVO">
        SELECT player_id, player_name, player_nick_name, player_job_type, player_proficiency_stack, player_proficiency_level, player_money
        FROM tbl_player
        where player_name = #{playerName}
    </select>
</mapper>